backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
certifi==2023.7.22
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.2.0
colorclass==2.2.2
compressed-rtf==1.0.6
cryptography==41.0.1
easygui==0.98.3
ebcdic==1.1.1
idna==3.4
IMAPClient==2.3.1
lark-parser==0.12.0
msoffcrypto-tool==5.0.1
numpy==1.24.4
olefile==0.46
oletools==0.60.1
pcodedmp==1.2.6
pycparser==2.21
pyparsing==2.4.7
python-dotenv==1.0.0
pytz-deprecation-shim==0.1.0.post0
red-black-tree-mod==1.20
requests==2.31.0
RTFDE==0.0.2
six==1.16.0
soupsieve==2.4.1
tzdata==2023.3
tzlocal==4.2
urllib3==2.0.4
